TH{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
A:ACTIVE{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
A:HOVER{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
A:LINK{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
A:VISITED{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
.dropMenuover{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#ffffff;
}
.menuForAdapter{
COLOR: #333333;
FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
}
TD{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.tree:ACTIVE{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.tree:HOVER{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.tree:LINK{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.tree:VISITED{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.dataLink:ACTIVE{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.dataLink:HOVER{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.dataLink:LINK{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.dataLink:VISITED{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
A.menu:ACTIVE{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.menu:HOVER{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.menu:LINK{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.menu:VISITED{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
.tabText{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.tabTextLink:ACTIVE{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.tabTextLink:HOVER{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.tabTextLink:LINK{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
A.tabTextLink:VISITED{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
.dropMenu{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#9999ff;
}
.buttons{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
COLOR:#000000;
}
.componentStyle{
FONT-FAMILY:Verdana,Arial,Helvetica,Sans-serif;
BACKGROUND-COLOR:#ffffff;
COLOR:#000000;
}
BODY{
BACKGROUND-IMAGE:url(images/backgrounds/redfiber.png);
}
